*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: #272525;
  margin: 0;
  font-family: Arial, sans-serif;
  color: #fff;
}

.chatInfo {
  border-radius: 10px 0 10px 0;
  background-color: #5d5b8d;
  justify-content: space-between;
  padding: 10px;
  color: lightgray;  
}